
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
  --stormy: #141414e8;

}

/* Layer 1 */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
   background-color: rgba(165, 164, 164, 0.145);
}


/* Layer 2 */
.App{
  height: 100vh;
}


/* Layer 3 */
/* navbar */
.Navigation{
  display: flex;
  justify-content:  space-around;
  align-items: center;
  margin: 5px;
  color: var(--stormy)
}
.NavLinks{
  display: flex;
  justify-content: center;
  align-items: center;
}
.NavLink{
  margin: 5px;
  color: var(--stormy);
  padding: 5px;
}
.NavLink:hover{
  background-color: var(--stormy);
  color: whitesmoke;
  border-radius: 4px;
  padding: 5px;
  transition: .5s;
}
.NavLink:active{

}


/* ABOUTME */
.AboutMeContainer{
  border: 1px solid black;
  margin: 5px;
  height: 77vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Snapshot{
  border: 1px solid black;
  margin: 5px;
  background-color: rgb(255, 255, 255);
}
 .ProfilePic{
  border: 1px solid black;
  margin: 5px;
  
}
.ProfilePicCap{
  border: 1px solid black;
  margin: 5px;
}
.BioContainer{
  border: 1px solid black;
  margin: 5px;
}
.Bio{
  border: 1px solid black;
  margin: 5px;
}


/* PORTFOLIO */
.PortfolioPage{
  border: 1px solid black;
  margin: 5px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.PortfolioContainer{
  border: 1px solid black;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Projects{
  border: 1px solid black;
  margin: 5px;
  
}


/* CONTACT */
.ContactContainer{
  border: 1px solid black;
  margin: 5px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Details{
  border: 1px solid black;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.DetailsHeader{
  border: 1px solid black;
  margin: 5px;
}
.Message{
  border: 1px solid black;
  margin: 5px;
}
.MessageHeader{
  border: 1px solid black;
  margin: 5px;
}


/* RESUME */
.ResumeContainer{
  border: 1px solid black;
  margin: 5px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ResumeHeader{
  border: 1px solid black;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ResumeContent{
  border: 1px solid black;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ResumeDetails{
  border: 1px solid black;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER */
.Footer{
  display: flex;
  justify-content:  space-around;
  align-items: center;
  border: 1px solid black;
  margin: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
